<div class="card inline-item" style="width: 18rem;">
  <%= image_tag Settings.carosel_image, class: "d-block w-100 carosel-image" %>
  <div class="card-body">
    <%= link_to new_user_course_path(course_id: course.id) do %>
      <h5><%= course.name %></h5>
    <% end %>
    <p><%= course.description %></p>
  </div>
</div>
