<%= form_for [@commentable, @comment], remote: true do |f| %>
  <div class="field comment-form">
    <%= f.text_area :content, rows: 3, id: "content" %>
  </div>
  <div class="actions right">
    <%= f.submit t("button.add_comment"), remote: true, class: "btn btn-primary" %>
  </div>
<% end %>
