.image {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.course-image {
  width: 300px;
  height: 180px;
}

.list-group{
  max-height: 30rem;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
