@import './colors.scss';

.center {
  margin: 0 auto;
}

.right {
  text-align: right;
}

.hide {
  display: none;
}

.inline-item{
  display: inline-block;
}

tbody {
  :hover {
    background-color: $gray-400;
  }
}

.form-button {
  button {
    margin-right: 15px;
  }
}

.locale-logo {
  width: 25px;
}

.new-record {
  background-color: chartreuse;
}

.search-border {
  margin: 20px;
  padding: 10px;

  .btn {
    margin-top: 10px;
  }
}
