@import './colors.scss';

.center {
  margin: 0 auto;
}

.inline-item{
  display: inline-block;
}

tbody {
  :hover {
    background-color: $gray-400;
  }
}

.form-button {
  button {
    margin-right: 15px;
  }
}

.locale-logo {
  width: 25px;
}
