<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t "field.number" %></th>
        <th scope="col"><%= t "field.name" %></th>
        <th scope="col"><%= t "field.video_link" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="body-table">
    </tbody>
    <tbody id="actual_lecture">
      <%= render collection: @lectures,
        partial: "admin/courses/tab/lecture" %>
    </tbody>
  </table>
</div>
