<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="lecture-tab" data-toggle="tab" href="#lectures" role="tab" aria-controls="lectures" aria-selected="true">
        <%= t "common.lectures" %> (<%= @lectures.length if @lectures %>)
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="lectures" role="tabpanel" aria-labelledby="home-tab">
      <div id="lectures">
        <%= render "admin/courses/tab/lecture_table" %>
      </div>
    </div>
  </div>
</div>
